<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/SAMUEL/IdeaProjects/wayapaychat">
        <classes>
            <class name="Login.login_Page">
                <methods>
                    <include name="setup"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>